@import "tailwindcss";
@import "tw-animate-css";




@layer base {

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0f1418;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2f3b44;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #46525a;
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2f3b44 #0f1418;
  }
}
